<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>

<div th:fragment="import">
	<!-- Latest compiled and minified CSS -->
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
	<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
</div>
</head>
<body>

</body>
</html>